video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
} 

h1{
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 2px green, 0 0 1em yellowgreen, 0 0 0.2em blue;
  margin-top: 10%;
  text-transform: capitalize;
  font-family: 'Chivo Mono', monospace;
}
.par{
  display: block;
  width: 50%;
  padding: 20px;
  font-size: 20px;
  background-color: rgba(19, 202, 95, 0.375);
  color: white;
  text-shadow: 1px 1px 2px green, 0 0 1em yellowgreen, 0 0 0.2em blue;
  font-family: 'Chivo Mono', monospace;
  text-transform: uppercase;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Chivo Mono', monospace;
}

button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.2);
  background-color: transparent;
  color:#c2fbd7;
}